body {
    font-family: monospace;
    background-color: #333333;
    color: yellowgreen;
}

h1 {
    text-align: center;
}

header, main, article, footer {
    max-width: 600px;
    margin: auto;
}

footer {
    border-top: solid #555555 1px;
    margin-top: 3em;
    padding-top: 1em;
    text-align: center;
}

nav a {
    padding: 0 15px 0 15px;
}

a {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto
    auto auto auto auto auto auto;
}

.container div {
    border: solid #555555 1px;
    display: inline-grid;
    height: 30px;
}

.apple {
    background-color: yellowgreen;
}

.snake {
    background-color: #FFFFFF;
}

main > div span {
    padding-right: 1em;
}

.error {
    background-color: darkred;
    color: #FFFFFF;
}

table {
    border-collapse: collapse;
    min-width: 300px;
}

td, th {
    border: solid #555555 1px; 
    padding: 3px;
}

p, td, th {
    color: #AAAAAA;
}

#highscores h3, #highscores table {
    display: none;
}

@media screen and (max-width: 600px) {
    #mobile-keyboard {
        display: flex;
    }

    #mobile-keyboard button {
        width: calc(100% /4);
        height: 2em;
        background-color: #000000;
        color: #FFFFFF;
    }

    .container div {
        height: 20px;
    }

}

@media screen and (min-width: 600px) {
    #mobile-keyboard {
        display: none;
    }
    
}

@media screen and (min-width: 940px) {
    #game-and-highscore-container main {
        display: inline-block;
        width: 600px;
    }

    #highscores {
        display: inline-block;
        width: 300px;
    }

    #highscores p {
        display: none;
    }

    #highscores h3 {
        display: inline-block;
    }

    #highscores table {
        display: table;
    }

    #game-and-highscore-container {
        display: flex;
    }

}
