body {
    font-family: monospace;
    background-color: #333333;
    color: yellowgreen;
}

header, main, footer {
    max-width: 600px;
    margin: auto;
}

footer {
    padding-top: 2em;
    color: #777777;
}

footer a {
    color: lightblue;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto
    auto auto auto auto auto auto;
}

.container div {
    border: solid #555555 1px;
    display: inline-grid;
    height: 30px;
}

.apple {
    background-color: yellowgreen;
}

.snake {
    background-color: #FFFFFF;
}

main > div span {
    padding-right: 1em;
}
