{% extends "layout.html" %}
{% block content %}
<main>
<h2>Highscores</h2>
<h3>Top 10 monthly</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for score in top_monthly %}
        <tr>
            <td>{{score['username']}}</td>
            <td>{{score['score']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Top 10 all-time</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for score in top_all %}
        <tr>
            <td>{{score['username']}}</td>
            <td>{{score['score']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</main>
{% endblock %}
