{% extends "layout.html" %}
{% block content %}
<script src="/static/vim.js"></script>
<script src="/static/snake.js"></script>
<div id="game-and-highscore-container">
<main>
<div>
    <span id="start-instructions">Press i to start. Type ":help" for help.</span>
    <span id="score"></span> <span id="max-score"></span><br>
    <span style="background-color: red; color: white; font-weight: bold">
        Warning: the database (for highscores) is currently shut down for pricing reasons.
        Highscores will not be saved, and the game may be unreliable and broken.
    </span>
</div>
<!--Game to be injected by JS-->
<div id="mobile-keyboard">
    <button onclick="startSnakeMobile()">Start</button>
    <button onclick="mobileHelp(this)">Help</button>
</div>
<div id="commandline">
    <input disabled>
</div>
</main>
<article id="highscores">
    <p>
        Top score this month: <span id="top-score-month"></span><br>
        Top score all time: <span id="top-score-all"></span><br>
        <a href="/highscores">Show highscores</a>
    </p>
    <h3>Top 10 month</h3>
    <table id="top-month-tbl">
        <thead>
            <tr>
                <th>name</th>
                <th>score</th>
            </tr>
        </thead>
        <tbody>
            <!--Injected by JS-->
        </tbody>
    </table>
    <h3>Top 10 all-time</h3>
    <table id="top-all-tbl">
        <thead>
            <tr>
                <th>name</th>
                <th>score</th>
            </tr>
        </thead>
        <tbody>
            <!--Injected by JS-->
        </tbody>
    </table>
</article>
</div>
<article id="play-help" class="hidden">
    <h3>How to play</h3>
    <p>
        This game works similar to the snake game on old Nokia phones.
        The difference is that the <code>h, j, k, l</code> keys are used
        to move the snake.
    </p>
    <ul>
        <li>H  -  Left</li>
        <li>J  -  Down</li>
        <li>K  -  Up</li>
        <li>L  -  Right</li>
    </ul>
</article>
{% endblock %}
