{% extends "layout.html" %}
{% block content %}
<script src="/static/snake.js"></script>
<div>
    <span id="start-instructions">Press i to start</span>
    <span id="score"></span> <span id="max-score"></span>
</div>
<!--Game to be injected by JS-->
<article>
    <h3>Highscores</h3>
    Top this month: <span id="top-score-month"></span><br>
    Top all time: <span id="top-score-all"></span><br>
    <a href="/highscores">Show all</a>
</article>
<article>
    <h3>How to play</h3>
    <p>
        This game works similar to the snake game on old Nokia phones.
        The difference is that it uses <code>h, j, k, l</code> keys to
        move the snake.
    </p>
</article>
{% endblock %}
