<!DOCTYPE html>
<html>
<head>
    <title>Vi Snake</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/snake.js"></script>
</head>
<body>
<header>
    <h1>Vi Snake</h1>
</header>
<main>
    <div>
        <span id="start-instructions">Press i to start</span>
        <span id="score"></span> <span id="max-score"></span>
    </div>
    <!--Game to be injected by JS-->
    <article>
        <h3>How to play</h3>
        <p>
            This game works similar to the snake game on old Nokia phones.
            The difference is that it uses <code>h, j, k, l</code> keys to
            move the snake.
        </p>
    </article>
</main>
<footer>
    Made by Christian Fosli
</footer>
</body>
</html>