<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vi Snake</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
<header>
    <h1>Vi Snake</h1>
</header>
{% block content %}{% endblock %}
<footer>
    <nav>
        <a href="/">Play snake</a>
        <a href="/highscores">Highscores</a>
        <a href="/about">About</a>
    </nav>
    <p>
       Christian Fosli | Source code on
        <a href="https://github.com/christianfosli/visnake">github</a>
    </p>
</footer>
</body>
</html>
